.container {
    position: relative;
    z-index: 1;
    height: 36rem;
    width: 60rem;
    margin-top: 3%;
    margin-bottom: 8%;
    border-radius: 10px;
    padding: 20px;
}

.reason {
    height: 5rem;
}

.leave-type {
    display: flex;
}

.black-box {
    display: flex;
    background-color: #434242;
    color: white;
    padding: 40px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
}

.red-box {
    display: flex;
    background-color: #f24343;
    color: white;
    height: 8rem;
    width: 15rem;
    border: 1px solid red;
    margin-left: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.blue-box {
    display: flex;
    background-color: #43bef7;
    color: white;
    height: 8rem;
    width: 15rem;
    border: 1px solid blue;
    margin-left: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.green-box {
    display: flex;
    background-color: rgb(90, 227, 90);
    color: white;
    height: 8rem;
    width: 15rem;
    border: 1px solid lightgreen;
    margin-left: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.table {
    margin: 90px 20px 0 40px;
    width: 95%;
    height: 10rem;
}

.leaves {
    text-align: center;
}

.user-name {
    margin-left: 3rem;

}
.bottom{
    padding-top: 30px;
}
.topbox{
    margin-bottom: 30px;
    padding:25px;
}
.infobox{
    display: flex;
    justify-content: space-between;
    margin-top:13px;

}
.leftinfo{
    font-weight: bold;
    font-size: 16px;
    margin-left: 8px;
    padding:20px;

}
.inforight{
    font-size: 16px;
    padding-left: 14px;
    border-radius: 5px;
    padding:20px;
}
.desc{
    display: flex;
    justify-content: space-between;
}
.header{
    border-radius: 10px;
    margin-right: 12px;
    background-color:#43bef7;
    
    color:white;
}